<div id="top" class="navigation">
    <div class="navigation__wrapper wrapper--large">
        <a class="navigation__logo logo" routerLink="/">JM</a>
        <nav class="navigation__container">
            <ul class="navigation__list">
                <li><a routerLink="/">Home</a></li>
                <li><a href="#work">About</a></li>
                <li><a href="#blog">Ressources</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <a class="navigation__cta button" routerLink="/signin">Login</a>
        <div class="navigation__burger">
            <span class="navigation__burger-el navigation__burger-el--top"></span>
            <span class="navigation__burger-el navigation__burger-el--middle"></span>
            <span class="navigation__burger-el navigation__burger-el--bottom"></span>
        </div>
    </div>
</div>
<!-- END SECTION: Navigation -->
