<header class="header">
  <div class="introduction">
    <div class="box">
      <div class="box__header">
        <h1>Sign In</h1>
      </div>
      <div class="box__body">
        <form class="contact__form">
          <input class="contact__form-el contact__form-el--name" type="text" placeholder="Your First Name"
            spellcheck="false">
          <input class="contact__form-el contact__form-el--name" type="text" placeholder="Your Last Name"
            spellcheck="false">
          <input class="contact__form-el contact__form-el--email" type="email" placeholder="Your Email"
            spellcheck="false">
          <input class="contact__form-el contact__form-el--email" type="password" placeholder="Your Password"
            spellcheck="false">
          <textarea class="contact__form-el contact__form-el--message" placeholder="Your Message"></textarea>
          <input class="contact__form-el contact__form-el--submit" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</header>