<section class="about-us">
    <div class="about">
        <img src="../../assets/img/about.avif" class="pic">
      <div class="text">
        <h2>About Us</h2>
          <p>Welcome to our test preparation platform! We cater specifically to candidates looking to excel in their exams. Access a wide range of practice tests tailored for various subjects and exams. Our platform offers comprehensive question coverage and diverse question types to help you prepare effectively. Join us today and unlock your full potential for success in your exams!
          </p>
        <div class="data">
        <a routerLink="/signin" class="hire">Join Us</a>
        </div>
      </div>
    </div>
  </section>