<!-- SECTION: Intro -->
<header class="header">
    <div class="introduction">
        <img src="../../assets/img/about.avif" alt="" style="width: 300px; height: 300px; margin:40px" >
        <h1 class="introduction__content">
            
            <span class="introduction__content-el introduction__content-el--name">Take Online Test</span>
            <span class="introduction__content-el introduction__content-el--description">Limitless</span>
            <span class="introduction__content-el introduction__content-el--job">Now</span>
        </h1>
        <svg class="introduction__arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 130 65" xml:space="preserve" enable-background="new 0 0 130 65"><g transform="translate(0.000000,65.000000) scale(0.100000,-0.100000)"><path d="M22.2 634c-50-35-40-47 293-349 174-157 323-285 333-285 24 0 635 552 647 585 8 23 6 30-14 46 -13 10-31 19-40 19s-57-37-107-83c-50-45-179-162-287-260l-197-179 -147 134c-319 289-433 388-446 388C50.2 650 34.2 643 22.2 634z"/></g></svg>
    </div>
</header>
<main role="main">
    <section id="blog" class="blog">
        <div class="blog__wrapper wrapper--large">
            <article class="blog__post">
                <div class="blog__post-thumbnail">
                    <img src="assets/img/1.png" alt="Man viewing work plans" height="259" width="370">
                </div>
                <div class="blog__post-excerpt">
                    <h3>Passer le Test</h3>
                    <p>I love using UI Kits vs website templates because UI Kits give you an easier way to use elements compared to templates.</p>
                    <a class="transform-link" href="#0">Get Started</a>
                </div>
            </article>
            <article class="blog__post">
                <div class="blog__post-thumbnail">
                    <img src="assets/img/2.jpg" alt="Man hanging pictures" height="259" width="370">
                </div>
                <div class="blog__post-excerpt">
                    <h3>S'entrainer à un Test</h3>
                    <p>CCO images are awesome because you don't have to credit the author, and you can use them anywhere, anytime.</p>
                    <a class="transform-link" href="#0">Get Started</a>
                </div>
            </article>
            <article class="blog__post">
                <div class="blog__post-thumbnail">
                    <img src="assets/img/3.webp" alt="Men working at a desk" height="259" width="370">
                </div>
                <div class="blog__post-excerpt">
                    <h3>Afficher le Résultat</h3>
                    <p>Internet of things is coming so quickly, we as designers will have to design UI and UX for more things in the future.</p>
                    <a class="transform-link" href="#0">Get Started</a>
                </div>
            </article>
        </div>
    </section>
    <!-- SECTION: About -->
    <section class="about">
        <div class="about__wrapper wrapper--small">
            <div class="about__content">
                <div class="about__content-blurb blurb blurb--framed">
                    <h2 class="blurb__heading">Nothing is<br>impossible</h2>
                    <p class="blurb__copy no-margin">If you just work hard enough at it</p>
                </div>
                <p class="about__content-signature">James Martin</p>
            </div>
            <img class="about__visual" src="assets/img/4.png" alt="James Martin">
        </div>
    </section>
    <!-- END SECTION: About -->
    <!-- SECTION: App Design -->
    <section class="app-design">
        <div class="app-design__wrapper wrapper--large">
            <div class="app-design__content blurb">
                <h2 class="blurb__heading">LIMITLESS App</h2>
                <p class="blurb__copy blurb__copy--tight">App design for Topaz, an awesome creative company from New York.</p>
                <a class="transform-link" href="#0">Download it Now</a>
            </div>
        </div>
        <figure class="app-design__visual"></figure>
    </section>
    <!-- END SECTION: App Design -->
    <!-- SECTION: Web Design -->
    <section class="web-design">
        <div class="web-design__wrapper wrapper--small">
            <div class="web-design__content blurb">
                <h2 class="blurb__heading">You are<br>in good hands</h2>
                <p class="blurb__copy blurb__copy--tight">Web design I made for MGF, an amazing architecture agency from London.</p>
                <a class="transform-link" href="#0">Get Started</a>
            </div>
        </div>
        <figure class="web-design__visual"></figure>
    </section>
    <!-- END SECTION: Web Design -->
    <!-- SECTION: Work -->
    <section id="work" class="work">
        <h2 class="work__heading title">Explore Vos Test</h2>
        <div class="work__wrapper wrapper--large">
            <ul class="work__list">
                <li class="work__list-el work__list-el--is-active">
                    <div class="work__content">
                        <div class="work__content-blurb blurb blurb--framed">
                            <h3 class="blurb__heading">PHP</h3>
                            <p class="blurb__copy">The awesome guys at Strategik INC were superb to work with because they knew their goals exactly.</p>
                        </div>
                        <a class="transform-link" href="#0">Get Started</a>
                    </div>
                    <div class="work__visual">
                        <img src="assets/img/5.jpg" alt="Strategik INC">
                    </div>
                </li>
                <li class="work__list-el">
                    <div class="work__content">
                        <div class="work__content-blurb blurb blurb--framed">
                            <h3 class="blurb__heading">Angular</h3>
                            <p class="blurb__copy">Ēostre UI Kit is made following the latest design trends with focus on usability and fast workflow.</p>
                        </div>
                        <a class="transform-link" href="#0">Get Started</a>
                    </div>
                    <div class="work__visual">
                        <img src="assets/img/6.png" alt="Ēostre UI Kit">
                    </div>
                </li>
                <li class="work__list-el">
                    <div class="work__content">
                        <div class="work__content-blurb blurb blurb--framed">
                            <h3 class="blurb__heading">Java</h3>
                            <p class="blurb__copy">Quick concept for a fictitious wildlife exploration app. Grab the PSD and start your own exploration.</p>
                        </div>
                        <a class="transform-link" href="#0">Get Started</a>
                    </div>
                    <div class="work__visual">
                        <img src="assets/img/7.png" alt="Go Outside App">
                    </div>
                </li>
            </ul>
            <ul class="work__navigation">
                <li class="work__navigation-el work__navigation-el--is-active"></li>
                <li class="work__navigation-el"></li>
                <li class="work__navigation-el"></li>
            </ul>
        </div>
    </section>
    <!-- END SECTION: Work -->
    <!-- SECTION: Contact -->
    <section id="contact" class="contact">
        <h2 class="contact__heading title">Contact Me</h2>
        <div class="contact__wrapper wrapper--large">
            <div class="contact__visual">
                <img src="assets/img/contact-visual.png" alt="James Martin's location">
            </div>
            <!-- Simple form setup: formspree.io -->
            <form class="contact__form">
                <input class="contact__form-el contact__form-el--name" type="text" placeholder="Your Name" spellcheck="false">
                <input class="contact__form-el contact__form-el--email" type="email" placeholder="Your Email" spellcheck="false">
                <textarea class="contact__form-el contact__form-el--message" placeholder="Your Message"></textarea>
                <input class="contact__form-el contact__form-el--submit" type="submit" value="Send">
            </form>
        </div>
    </section>
    <!-- END SECTION: Contact -->
</main>